---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout class="flex">
    <article class="prose m-auto">
        <h1 class="text-center pt-[20vh] text-9xl">404</h1>
    </article>
</DefaultLayout>
