---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout class="flex">
    <article class="prose m-auto">
        <h1 class="text-center pt-[20vh] text-9xl">404</h1>
    </article>
</DefaultLayout>
