# // global ignores //////////////////////////////////////////////////
node_modules
.git
.idea
dist
*.svg
*.ico
.gitignore
tailwind-save-list
.tmp

# // root ////////////////////////////////////////////////////////////

# // api-spec ////////////////////////////////////////////////////////
src/e2e/node_modules

# // api /////////////////////////////////////////////////////////////
src/api/node_modules
src/api/public/vendor
src/api/vendor

# // frontend ////////////////////////////////////////////////////////

# // e2e /////////////////////////////////////////////////////////////
src/e2e/node_modules

