node_modules
src/nuxt/node_modules
.idea
yarn-error.log

.env
.env.encryption-key
.env.*
!.env.template
!.env.docker
!.env.*.encrypted
.tmp/*
!.tmp/.gitkeep
vendor

bin/*
!bin/j
!bin/just
!bin/environment
!bin/composer-sail
!bin/doctl

app-spec.*.yml
!app-spec.*.template.yml

.DS_Store

__version.json
.cleanup-list
