---
import SocialLink from './SocialLink.astro'
import { type IFooterLink } from '../contracts/IFooterLink.ts'
const year = new Date().getFullYear()
const projectName = 'inspire3'
const copyrightLine = `&copy; ${year} <span class="hover:text-secondary">${projectName}</span>`

const links: IFooterLink[] = [
    {
        name: 'Discord',
        url: 'https://discord.gg/SqncpMu6',
        type: 'discord',
    },
    {
        name: 'X',
        url: 'https://twitter.com/inspire3_icp',
        type: 'x',
    },
    {
        name: 'GitHub',
        url: 'https://github.com/inspire-3/inspire3',
        type: 'github',
    },
]
---
<footer class="">
    <div class="mx-auto max-w-xl px-6 py-4 md:flex md:items-center md:justify-between lg:px-8">
        <div class="flex justify-center space-x-6 md:order-2">
            {
                links.map(data =>
                    <SocialLink footerLinkData={data} />)
            }
        </div>
        <div class="flex justify-center md:justify-start mt-4 md:order-1 md:mt-0">
            <a href="/"
               class="text-center font-poppins font-light text-sm leading-5 text-base-content hover:underline"
               set:html={copyrightLine}/>
        </div>
    </div>
</footer>
