---
import UserAccount from './UserAccount.vue'
import OmniSearch from './OmniSearch/OmniSearch.vue'
import Logo from './Logo.astro'
---
<div class="sticky top-0 z-50 flex justify-center py-4 max-h-[96px]">
    <div
        class="relative flex w-full justify-between items-center mx-2 pl-0.5 max-h-[48px] pr-2 py-2 sm:mx-4 md:mx-8 rounded-3xl bg-base-100/90 shadow-2xl outline outline-base-content/5 backdrop-blur lg:max-w-256"
    >
        <a href="/"
           class="pl-4 pr-4 text-lg justify-center items-center space-x-3 inline-flex min-h-[36px]"
        >
            <Logo />
            <span class="hidden sm:inline-block font-poppins font-semibold text-xl">inspire3</span>
        </a>

        <OmniSearch :location="'navigation'" client:media="(min-width: 1024px)" />

        <div class="pl-4">
            <UserAccount client:only="vue" />
        </div>
    </div>
</div>

