---
// nothing here
---
<span class="w-9">
    <svg width="100%" height="100%" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <g transform="matrix(1,0,0,1,-1221,-6353)">
            <g id="GC-4-circle-center" serif:id="GC 4 circle center">
            </g>
            <g id="GC-4-square-center" serif:id="GC 4 square center">
            </g>
            <g id="GC-4-square" serif:id="GC 4 square">
            </g>
            <g id="GC-12.5" serif:id="GC 12.5">
            </g>
            <g id="v16.5---4px-bOw---16pt---light" serif:id="v16.5 - 4px bOw - 16pt - light" transform="matrix(1.24574,0,0,1.24574,-15153,6551.07)">
                <rect x="13144" y="-159" width="822" height="822" style="fill:none;"/>
                <g transform="matrix(1.55885,0,0,1.55885,-7575.26,-141.185)">
                    <g transform="matrix(2.60015,0,0,2.60015,16763.6,-4466.7)">
                        <path d="M-1329.07,1865.5C-1329.35,1865.5 -1329.62,1865.35 -1329.76,1865.1C-1329.9,1864.86 -1329.9,1864.56 -1329.76,1864.31C-1323.63,1853.69 -1278.34,1775.25 -1272.21,1764.63C-1272.07,1764.39 -1271.81,1764.24 -1271.52,1764.24C-1271.24,1764.24 -1270.98,1764.39 -1270.84,1764.63C-1267.9,1769.73 -1256.51,1789.45 -1256.51,1789.45C-1256.51,1789.45 -1280.35,1830.73 -1284.72,1838.31C-1284.87,1838.56 -1284.87,1838.86 -1284.72,1839.1C-1284.58,1839.35 -1284.32,1839.5 -1284.04,1839.5C-1278.16,1839.5 -1255.39,1839.5 -1255.39,1839.5L-1270.4,1865.5L-1329.07,1865.5Z" style="fill:none;stroke:black;stroke-width:6.34px;"/>
                    </g>
                    <g transform="matrix(2.60015,0,0,2.60015,16763.6,-4466.7)">
                        <path d="M-1138.23,1890.31C-1138.09,1890.56 -1138.09,1890.86 -1138.23,1891.1C-1138.37,1891.35 -1138.63,1891.5 -1138.92,1891.5C-1152.94,1891.5 -1270.02,1891.5 -1284.04,1891.5C-1284.32,1891.5 -1284.58,1891.35 -1284.72,1891.1C-1284.87,1890.86 -1284.87,1890.56 -1284.72,1890.31C-1281.78,1885.22 -1270.4,1865.5 -1270.4,1865.5L-1183.95,1865.5C-1183.67,1865.5 -1183.41,1865.35 -1183.27,1865.1C-1183.12,1864.86 -1183.12,1864.56 -1183.27,1864.31C-1188.39,1855.43 -1220.67,1799.52 -1225.8,1790.63C-1225.94,1790.39 -1226.21,1790.24 -1226.49,1790.24C-1226.77,1790.24 -1227.03,1790.39 -1227.17,1790.63C-1230.12,1795.73 -1241.5,1815.45 -1241.5,1815.45L-1256.51,1789.45C-1256.51,1789.45 -1231.65,1746.39 -1227.17,1738.63C-1227.03,1738.39 -1226.77,1738.24 -1226.49,1738.24C-1226.21,1738.24 -1225.94,1738.39 -1225.8,1738.63C-1218,1752.16 -1146.04,1876.79 -1138.23,1890.31Z" style="fill:none;stroke:black;stroke-width:6.34px;"/>
                    </g>
                    <g transform="matrix(2.60015,0,0,2.60015,16763.6,-4466.7)">
                        <path d="M-1255.39,1839.5L-1241.5,1815.45C-1241.5,1815.45 -1231.1,1833.47 -1228.3,1838.31C-1228.16,1838.56 -1228.16,1838.86 -1228.3,1839.1C-1228.44,1839.35 -1228.7,1839.5 -1228.98,1839.5L-1255.39,1839.5Z" style="fill:none;stroke:black;stroke-width:6.34px;"/>
                    </g>
                </g>
            </g>
            <g id="bulb-raw" serif:id="bulb raw">
            </g>
            <g id="bulb-golden-v" serif:id="bulb golden v">
            </g>
            <g id="bulb-golden-vh" serif:id="bulb golden vh">
            </g>
        </g>
    </svg>
</span>
